<section class="about-section">

    <ul class="about-section__list">
        <li class="about-section__item">
         <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime tempora ratione fugit eius illo necessitatibus pariatur officia. Facilis dolorem incidunt cumque, nam aspernatur alias quae voluptatibus aliquam porro quia!</p>
        </li>
        <li class="about-section__item">
         <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime tempora ratione fugit eius illo necessitatibus pariatur officia. Facilis dolorem incidunt cumque, nam aspernatur alias quae voluptatibus aliquam porro quia!</p>
        </li>
        <li class="about-section__item">
         <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime tempora ratione fugit eius illo necessitatibus pariatur officia. Facilis dolorem incidunt cumque, nam aspernatur alias quae voluptatibus aliquam porro quia!</p>
        </li>
        <li class="about-section__item">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime tempora ratione fugit eius illo necessitatibus pariatur officia. Facilis dolorem incidunt cumque, nam aspernatur alias quae voluptatibus aliquam porro quia!</p>
        </li>
    </ul>
</section>